:host {
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 100%;
	text-align: center;
	padding: 16px;
}

mat-card {
	margin-top: 16px;
	text-align: left;
	position: relative;

	// .share-btn {
	// 	position: absolute;
	// 	top: 8px;
	// 	right: 8px;
	// }

	mat-card-content {
		p {
			margin-top: 16px;
			user-select: initial;
		}
	}
}

.med-images {
	display: flex;
	margin: 0 -16px;

	img {
		flex: 1;
		width: 50%;
		object-fit: contain;
	}
}

h1 {
	text-align: left;
	margin-top: 24px;
	margin-bottom: 0px;
}

.question-title {
	display: flex;
	& > mat-card-title, & > mat-card-subtitle, & > div {
		flex: 1;
	}

	.share-btn {
		position: relative;
		top: -8px;
	}
}

.clearfix {
	clear: both;
}

p.dosage {
	font-size: 20px;
}