app-questions {
	display: block;

	mat-card-actions {
		display: flex !important;

		button {
			flex: 1;
		}		
	}

	.swiper-container, .swiper-wrapper, .swiper-slide, .swiper-slide > div {
		min-height: 40vh;
		min-height: calc(45vh - 36px);
	}

	.swiper-slide {
		& > div {
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;

			& > mat-card {
				margin: 16px;
				flex: 1;
				display: flex;
				flex-direction: column;

				mat-card-title {
					p {
						margin: 0;
					}
				}

				// img[mat-card-image] {
					// padding-top: 8px;
				// }
				mat-card-title {
					// padding-top: 8px;
					font-size: 22px;
					line-height: 24px;
				}

				mat-card-content.mat-card-content {
					padding: 8px 0 16px;
					margin: 0;
					flex: 1;
					overflow-y: scroll;

					img {
						margin-top: 8px;
						margin-bottom: -8px !important;
					}

					mat-form-field {
						font-size: 16px;
					}
				}

				mat-card-actions {
					button {
						height: 50px;
						font-size: 120%;
					}

					&.display-vertical {
						flex-direction: column;

						button {
							margin: 0 0 6px;
							padding: 7px 0;
						}
					}
				}
			}

			ul {
				li {
					text-align: left;
				}
			}
		}

		mat-basic-audio-player + mat-form-field {
			margin-top: 8px;
		}

		mat-form-field {
			width: 100%;
			margin-bottom: 16px;

			mat-label {
				font-size: 120%;
			}

			.mat-form-field-wrapper {
				padding-bottom: 0;
			}
		}
	}
}
