<div class="swiper-container" #swiperEl>
	<div class="swiper-wrapper">
		<div class="swiper-slide" #slideElements *ngFor="let question of questions; let i = index">
			<div>
				<mat-card>
					<img mat-card-image *ngIf="question.image" [src]="question.image">
					<mat-card-title style="white-space: pre-wrap;" [innerHTML]="question._title"></mat-card-title>
					
					<mat-card-content>
						<ng-container *ngFor="let in of question.inputs; let qi = index">
							<ng-container class="input-sound" *ngIf="in.sound">
								<mat-basic-audio-player [audioUrl]="in.sound" [autoPlay]="false" [displayVolumeControls]="false"></mat-basic-audio-player>
							</ng-container>

							<mat-form-field *ngIf="in.type != 'checkbox'" appearance="outline">
								<mat-label>{{ in.label }}</mat-label>
								<input matInput [required]="in.required" [type]="in.type ? in.type : 'text'" [placeholder]="in.label" [(ngModel)]="questions[i].inputs[qi]._response" [attr.name]="'q_' + i + '_' + in.name">
							</mat-form-field>
							<mat-checkbox [id]="'q_' + i + '_' + in.name" *ngIf="in.type == 'checkbox'" [name]="'q_' + i + '_' + in.name" [(ngModel)]="questions[i].inputs[qi]._response">{{ in.label }}</mat-checkbox>
							<img mat-card-image *ngIf="in.image" [src]="in.image">
						</ng-container>

						<ng-container *ngIf="question.sound">
							<mat-basic-audio-player [audioUrl]="question.sound" [autoPlay]="false" [displayVolumeControls]="false"></mat-basic-audio-player>
						</ng-container>
					</mat-card-content>

					<mat-card-actions [class.display-vertical]="question.buttons && question.buttons.length > 2">
						<button [color]="button.color ? button.color : 'primary'" *ngFor="let button of question.buttons" mat-raised-button (click)="pressedButton(question, button)">{{ button.title }}</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
	</div>

	<div class="swiper-naivgation"></div>
</div>