app-pre-test {
	.swiper-container {
		height: 100%;
	}

	.swiper-slide {
		& > div {
			margin: 16px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;

			ul {
				li {
					text-align: left;
				}
			}
		}
	}

	a.mat-raised-button {
		font-size: 110%;
		margin: 8px 0;
		height: 58px;
		line-height: 58px;
		font-size: 150%;
	}
}