app-pre-test {
	min-height: 55vh;
	display: block;
	
	& > div {
		min-height: 55vh;
		margin: 16px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;

		ul {
			li {
				text-align: left;
			}
		}
	}

	a.mat-raised-button {
		font-size: 110%;
		margin: 8px 0;
		height: 58px;
		line-height: 58px;
		font-size: 150%;
	}
}