.swiper-container {
	height: 100%;
}

.swiper-slide {
	& > div {
		margin: 16px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;

		ul {
			li {
				text-align: left;
			}
		}
	}
}