<div>
	<mat-toolbar color="primary">
		<a (click)="goHome()"><i translate>toolbar.title</i></a>

		<span style="flex: 1 1 auto;"></span>

		<a mat-button [href]="qrLink" target="_blank">{{ 'toolbar.qr' | translate }}</a>
		<a mat-button *ngIf="hasResults" [routerLink]="['/qr', results]">{{ 'toolbar.has_results' | translate }}</a>
		<a mat-button [matMenuTriggerFor]="menu">
			<mat-icon>language</mat-icon>
		</a>
		<mat-menu class="languageMenu" #menu="matMenu" xPosition="before">
			<button mat-menu-item [class.active]="translate.currentLang == 'en'" (click)="setLanguage('en')">{{ 'langs.english' | translate }}</button>
			<button mat-menu-item [class.active]="translate.currentLang == 'bn'" (click)="setLanguage('bn')">{{ 'langs.bangladesh' | translate }}</button>
			<button mat-menu-item [class.active]="translate.currentLang == 'th'" (click)="setLanguage('th')">{{ 'langs.thai' | translate }}</button>
			<button mat-menu-item [class.active]="translate.currentLang == 'ta'" (click)="setLanguage('ta')">{{ 'langs.tamil' | translate }}</button>
			<button mat-menu-item [class.active]="translate.currentLang == 'zh'" (click)="setLanguage('zh')">{{ 'langs.chinese' | translate }}</button>
		</mat-menu>
	</mat-toolbar>

	<div>
		<router-outlet></router-outlet>
	</div>
</div>