<div style="display: flex; flex-direction: column; height: 100%;">
	<mat-toolbar color="primary">
		<span (click)="goHome()" translate>toolbar.title</span>

		<span style="flex: 1 1 auto;"></span>

		<a mat-button [routerLink]="['/language']">{{ 'toolbar.get_started' | translate }}</a>
		<a mat-button [routerLink]="['/faq']">{{ 'toolbar.faq' | translate }}</a>
		<a mat-button [matMenuTriggerFor]="menu">{{ 'langs.language' | translate }}
			<mat-icon>arrow_drop_down</mat-icon>
		</a>
		<mat-menu class="languageMenu" #menu="matMenu" xPosition="before">
			<button mat-menu-item [class.active]="translate.currentLang == 'en'" (click)="setLanguage('en')">{{ 'langs.english' | translate }}</button>
			<button mat-menu-item [class.active]="translate.currentLang == 'bn'" (click)="setLanguage('bn')">{{ 'langs.bangladesh' | translate }}</button>
			<button mat-menu-item [class.active]="translate.currentLang == 'th'" (click)="setLanguage('th')">{{ 'langs.thai' | translate }}</button>
		</mat-menu>
	</mat-toolbar>

	<div style="position: relative; flex: 1;">
		<router-outlet></router-outlet>
	</div>
</div>