mat-toolbar.mat-toolbar.mat-primary {
	background: darken(#334856, 10%);
	position: fixed;
	top: 0;
	z-index: 3;

	a {
		cursor: pointer;
	}

	.logo {
		display: block;
		height: 50%;

		img {
			height: 100%;
		}
	}
}

:host {
	padding-top: 56px;
	display: block;
}