<div>
  <button color="primary" (click)="field('paragraph')">Add Text</button>
  <button color="primary" (click)="field('input')" mat-button>Add Input</button>
  <button color="primary" (click)="field('textarea')" mat-button>Add Textarea</button>
  <button color="primary" (click)="field('dropdown')" mat-button>Add Dropdown</button>
  <button color="primary" (click)="field('radio')" mat-button>Add Switch</button>
  <button color="primary" (click)="field('rating')" mat-button>Add Rating</button>
  <button color="primary" (click)="field('table')" mat-button>Add Table</button>
  <button color="primary" (click)="field('list')" mat-button>Add List</button>
  <button color="primary" (click)="field('grid')" mat-button>Add Grid</button>
</div>
