<mat-card *ngFor="let section of exercises; let i = index" class="exercises-card">
  <mat-form-field class="header-form-field">
    <input matInput placeholder="header" name="header" [(ngModel)]="section.header">
  </mat-form-field>

  <mat-card-content>
    <app-exercise-edit-field [field]="field"
                             [first]="x === 0"
                             [last]="x === (exercises[i].fields.length - 1)"
                             *ngFor="let field of exercises[i].fields; let x = index"
                             (shiftUp)="shiftFieldUp(i, x)"
                             (shiftDown)="shiftFieldDown(i, x)"
                             (addField)="insertField($event, i,  x)"
                             (delete)="deleteField(section, x)"
                             (clone)="cloneField(section, x)">
    </app-exercise-edit-field>
  </mat-card-content>
  <mat-card-actions>
    <app-add-field-buttons (addField)="addField($event, i)"></app-add-field-buttons>
    <div class="flex-div"></div>
    <button color="warn" (click)="deleteSection(i)" mat-button>Delete Section</button>
  </mat-card-actions>
</mat-card>

<div>
  <button color="primary" (click)="addSection()" mat-button>Add Section</button>
</div>

<br/>
<br/>

<mat-card>
  <form>
    <mat-card-actions class="load-save-actions">
      <button color="primary" (click)="convertJson()" [disabled]="!exercisesObj || exercisesObj.length == 0" mat-button>
        &uarr; Load
      </button>
      <button (click)="save()" color="primary" [disabled]="!exercises || exercises.length == 0" mat-button>&darr; Save
        <span *ngIf="managed"> to CMS</span>
      </button>
      <button (click)="back()" color="primary" *ngIf="managed" mat-button>Back to Track</button>
      <div class="flex-div"></div>
      <button (click)="clear()" color="warn" mat-button>Reset</button>
    </mat-card-actions>
    <p *ngIf="status" class="status">{{ status }}</p>
    <mat-form-field *ngIf="!managed" class="json-form-field">
      <textarea matInput rows="3" placeholder="Load/Save some JSON box" name="json" [(ngModel)]="exercisesObj"></textarea>
    </mat-form-field>
  </form>
</mat-card>
