<mat-card style="margin-bottom: 5px; border: 1px solid">
  <mat-card-header>
    <mat-card-title>Grid</mat-card-title>

    <div>
      <button color="warn" (click)="delete.emit()" mat-button>Delete</button>
      <button color="primary" (click)="clone.emit()" mat-button>Clone</button>
      <button color="primary" (click)="shiftDown.emit()" [disabled]="last" mat-button>&darr;</button>
      <button color="primary" (click)="shiftUp.emit()" [disabled]="first" mat-button>&uarr;</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-exercise-edit-field [field]="column" *ngFor="let column of field.columns; let i = index" (delete)="deleteField(i)" (clone)="cloneField(i)"></app-exercise-edit-field>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" (click)="addNewField('paragraph')" mat-button>Add Text</button>
    <button color="primary" (click)="addNewField('input')" mat-button>Add Input</button>
    <button color="primary" (click)="addNewField('textarea')" mat-button>Add Textarea</button>
    <button color="primary" (click)="addNewField('dropdown')" mat-button>Add Dropdown</button>
    <button color="primary" (click)="addNewField('radio')" mat-button>Add Switch</button>
    <button color="primary" (click)="addNewField('rating')" mat-button>Add Rating</button>
    <button color="primary" (click)="addNewField('table')" mat-button>Add Table</button>
    <button color="primary" (click)="addNewField('list')" mat-button>Add List</button>
<!--    <button color="primary" (click)="addField('grid')" mat-button>Add Grid</button>-->
  </mat-card-actions>

  <mat-card-content>
    <h4>Preview</h4>
    <app-exercise-field-grid [field]="field"></app-exercise-field-grid>
  </mat-card-content>

  <mat-card-footer *ngIf="!last">
    <button color="primary" (click)="showButtons()" mat-button>{{showAddButtons ? 'Hide' : 'Insert Below'}}</button>
    <app-add-field-buttons *ngIf="showAddButtons" (addField)="onClickField($event)"></app-add-field-buttons>
  </mat-card-footer>
</mat-card>
