<mat-card style="margin-bottom: 5px; border: 1px solid">
  <mat-card-header>
    <mat-card-title>List</mat-card-title>
    <div>
      <button color="warn" (click)="delete.emit()" mat-button>Delete</button>
      <button color="primary" (click)="clone.emit()" mat-button>Clone</button>
      <button color="primary" (click)="shiftDown.emit()" [disabled]="last" mat-button>&darr;</button>
      <button color="primary" (click)="shiftUp.emit()" [disabled]="first" mat-button>&uarr;</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div>
        <mat-form-field>
          <input matInput placeholder="Label" name="label" type="text" [(ngModel)]="field.label">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Name" name="name" type="text" [(ngModel)]="field.name" required>
        </mat-form-field>
      </div>
    </form>
    <mat-checkbox name="repeatable" [(ngModel)]="field.repeatable">Allow user to add fields</mat-checkbox>
    <form>
      <div>
        <mat-form-field>
          <input matInput placeholder="Initial fields" name="initial" type="number" [(ngModel)]="field.initial" required>
        </mat-form-field>
        <mat-form-field *ngIf="field.repeatable">
          <input matInput placeholder="Min required fields" name="min" type="number" [(ngModel)]="field.min" required>
        </mat-form-field>
        <mat-form-field *ngIf="field.repeatable">
          <input matInput placeholder="Max allowed fields" name="max" type="number" [(ngModel)]="field.max" required>
        </mat-form-field>
      </div>
    </form>
    <app-exercise-field *ngIf="field.component" [field]="field.component"></app-exercise-field>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" (click)="setField('input')" mat-button>Set Input</button>
    <button color="primary" (click)="setField('textarea')" mat-button>Set Textarea</button>
    <button color="primary" (click)="setField('dropdown')" mat-button>Set Dropdown</button>
    <button color="primary" (click)="setField('radio')" mat-button>Set Radio</button>
    <button color="primary" (click)="setField('rating')" mat-button>Set Rating</button>
  </mat-card-actions>

  <mat-card-content>
    <h4>Preview</h4>
    <app-exercise-field-list *ngIf="field.component" [field]="field"></app-exercise-field-list>
  </mat-card-content>
  <mat-card-footer *ngIf="!last">
    <button color="primary" (click)="showButtons()" mat-button>{{showAddButtons ? 'Hide' : 'Insert Below'}}</button>
    <app-add-field-buttons *ngIf="showAddButtons" (addField)="onClickField($event)"></app-add-field-buttons>
  </mat-card-footer>
</mat-card>
