<mat-card style="margin-bottom: 5px; border: 1px solid">
  <mat-card-header>
    <mat-card-title>Paragraph</mat-card-title>
    <div>
      <button color="warn" (click)="delete.emit()" mat-button>Delete</button>
      <button color="primary" (click)="clone.emit()" mat-button>Clone</button>
      <button color="primary" (click)="shiftDown.emit()" [disabled]="last" mat-button>&darr;</button>
      <button color="primary" (click)="shiftUp.emit()" [disabled]="first" mat-button>&uarr;</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <textarea #textarea rows="1"></textarea>
  </mat-card-content>
  <mat-card-footer *ngIf="!last">
    <button color="primary" (click)="showButtons()" mat-button>{{showAddButtons ? 'Hide' : 'Insert Below'}}</button>
    <app-add-field-buttons *ngIf="showAddButtons" (addField)="onClickField($event)"></app-add-field-buttons>
  </mat-card-footer>
</mat-card>
